services:
  rabbitmq:
    image: rabbitmq:4.2.0-management
    container_name: rabbitmq
    environment:
      RABBITMQ_DEFAULT_USER: guest
      RABBITMQ_DEFAULT_PASS: guest
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
    ports:
      - "5672:5672"
      - "15672:15672"
    networks:
      - hospital-network
    healthcheck:
      test: ["CMD", "rabbitmq-diagnostics", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  schedule-db:
    image: mysql:8.0
    container_name: schedule-db
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_schedule_data:/var/lib/mysql
    ports:
      - "3307:3306"
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5

  clinic-db:
    image: mysql:8.0
    container_name: clinic-db
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_clinic_data:/var/lib/mysql
    ports:
      - "3308:3306"
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5

  lab-db:
    image: mysql:8.0
    container_name: lab-db
    environment:
      MYSQL_ROOT_PASSWORD: root
    volumes:
      - mysql_lab_data:/var/lib/mysql
    ports:
      - "3309:3306"
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak-db:
    image: mysql:8.0
    container_name: keycloak-db
    environment:
      MYSQL_ROOT_PASSWORD: root
      MYSQL_DATABASE: keycloak
      MYSQL_USER: keycloak
      MYSQL_PASSWORD: keycloak
    volumes:
      - mysql_keycloak_data:/var/lib/mysql
    ports:
      - "3310:3306"
    networks:
      - hospital-network
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-h", "localhost", "-uroot", "-proot" ]
      interval: 10s
      timeout: 5s
      retries: 5

  keycloak:
    image: quay.io/keycloak/keycloak:23.0
    container_name: keycloak
    environment:
      KC_DB: mysql
      KC_DB_URL: jdbc:mysql://keycloak-db:3306/keycloak
      KC_DB_USERNAME: keycloak
      KC_DB_PASSWORD: keycloak
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      KC_HEALTH_ENABLED: true
    command: start-dev
    ports:
      - "8180:8080"
    networks:
      - hospital-network
    depends_on:
      keycloak-db:
        condition: service_healthy
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:8080/health/ready"]
      interval: 10s
      timeout: 5s
      retries: 10

volumes:
  mysql_lab_data:
  mysql_clinic_data:
  mysql_schedule_data:
  mysql_keycloak_data:
  rabbitmq_data:

networks:
  hospital-network:
    driver: bridge