server:
  port: ${SERVER_PORT:8080}

spring:
  application:
    name: gateway
  cloud:
    gateway:
      routes:
        - id: schedule-service
          uri: ${SCHEDULE_SERVICE_URL:http://localhost:8083}
          predicates:
            - Path=/api/patients/**,/api/appointments/**
          filters:
            - StripPrefix=1